%p
    %strong
        Mattias Hagberg
    %br
        %time{ datetime: "1989-01-25" }27,
        male, Uppsala
        %br
        Frontend developer
%p
    %strong
        projects / contact channels
    %br
    %a{ href: "http://www.mattias.pw/starburst.css" } starburst.css
    ,
    %a{ href: "http://codepen.io/pestbarn/pens/public/" } things
    %br
    %a{ href: "http://www.linkedin.com/in/pestbarn" } linkedin
    ,
    %a{ href: "http://github.com/pestbarn" } github
    ,
    %a{ href: "http://twitter.com/@pestbarn" } twitter
%img{ src: "src/img/profile.jpg" }
