%p
    %strong Skills:
    %span.primary CSS
    %span PostCSS
    %span SCSS
    %span.primary JS
    %span ES6
    %span jQuery
    %span.primary HTML5
    %span.primary Adobe CS
    %span UX
    %span Git
    %span Bash
    %span Gulp
    %span Grunt
    %span JSON
    %span Haml
    %span Jinja2
    %span Wordpress
    %span Agile

%p
    %a{ href: "http://github.com/pestbarn/v2" } View source

%p hello@mattias.pw
