---
layout: default
---

{% for post in site.posts %}

	<!-- Article -->
	<article>

		<!-- Article title -->
		<a href="{{ site.baseurl }}{{ post.url }}" class="h1">{{ post.title }}</a>
		<div class="post-category">
			<a href="/projects/category/#{{ post.category | slugify }}">
				{{ post.category | capitalize }}
			</a>
		</div>

			<!-- If article has a cover photo -->
			{% if post.coverPhoto %}

				<!-- Article image with aspect ratio -->
				<a href="{{ site.baseurl }}{{ post.url }}" class="ar-container">
					<span class="ar-content" style="background-image: url({{ post.coverPhoto }});"></span>
				</a><!-- .ar-container -->

			{% endif %}

		<!-- Article pre description -->
		<section>{{ post.content | slice: 0, 200 }}</section>

		<!-- Article date & article continue reading button container -->
		<div class="article__bottom">

			<!-- Article date -->
			<span class="article__date">
				{{ post.date | date_to_long_string | upcase }}
			</span>

			<!-- Article continue reading button -->
			<a class="article__button" href="{{ site.baseurl }}{{ post.url }}">
				{% if post.category == "Pens" %}PERMALINK{% else %}CONTINUE READING{% endif %}
			</a>

		</div><!-- .article__bottom -->

	</article><!-- article -->

{% endfor %}
