---
layout: default
title: Tags
description: Posts sorted by tags
---

{% comment%}
Here we generate all the tags.
{% endcomment%}

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}
<article>
	<h1 class="page-title">
		Posts by {{ page.title }}
	</h1>

	<div class="posts">
		<p>
		{% for tag in tags %}
			<a href="#{{ tag | slugify }}"> {{ tag }} </a> &nbsp;&nbsp;
		{% endfor %}

		{% for tag in tags %}
			<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
			<ul style="margin-top: 1em;">
			{% for post in site.posts %}
 			{% if post.tags contains tag %}
				<li style="margin: 0 0 .5em 2em;">
      					<a href="{{ post.url }}" style="border-bottom: 0;">
        					{{ post.title }}
        					<small style="font-size: .7em;">
							{{ post.date | date_to_string }}
						</small>
      					</a>
      					{% for tag in post.tags %}
      						<a style="font-size: .7em; padding-bottom: .1em; margin-left: .5em; border-bottom-width: 1px;" href="/projects/tag/#{{ tag | slugify }}">
							({{ tag }})
						</a>
      					{% endfor %}
  				</li>
  				{% endif %}
  			{% endfor %}
			</ul>
		{% endfor %}

	</div>
</article>
