@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}

@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
  src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 300;
  src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 700;
  src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(HelveticaNeue),local(Helvetica);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #fe5f55;
  text-shadow: none;
  color: #fff;
}

::selection {
  background: #fe5f55;
  text-shadow: none;
  color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
@-webkit-keyframes expand {
  0%, 80% {
    letter-spacing: -17px;
    opacity: 0;
  }

  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

@keyframes expand {
  0%, 80% {
    letter-spacing: -17px;
    opacity: 0;
  }

  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

@-webkit-keyframes star {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    fill: #eef5db;
  }
}

@keyframes star {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    fill: #eef5db;
  }
}

@-webkit-keyframes bounce-open {
  0%, 80% {
    opacity: 0;
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }

  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounce-open {
  0%, 80% {
    opacity: 0;
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }

  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes bounce-close {
  0%, 80% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }

  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounce-close {
  0%, 80% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }

  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes grow {
  0% {
    max-width: 100%;
    max-height: 100%;
    top: 0;
  }

  100% {
    max-width: 150%;
    max-height: 150%;
    top: -25%;
  }
}

@keyframes grow {
  0% {
    max-width: 100%;
    max-height: 100%;
    top: 0;
  }

  100% {
    max-width: 150%;
    max-height: 150%;
    top: -25%;
  }
}

@-webkit-keyframes flip {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 1;
  }

  50%, 100% {
    z-index: 0;
  }

  0%, 75% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }

  100% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }
}

@keyframes flip {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 1;
  }

  50%, 100% {
    z-index: 0;
  }

  0%, 75% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }

  100% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }
}

@-webkit-keyframes flip--reverse {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 0;
  }

  50%, 100% {
    z-index: 1;
  }

  0%, 75% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }
}

@keyframes flip--reverse {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 0;
  }

  50%, 100% {
    z-index: 1;
  }

  0%, 75% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }
}

@-webkit-keyframes locate {
  0% {
    width: 0;
    height: 0;
  }

  10% {
    border-color: rgba(255, 255, 255, .3);
  }

  30% {
    border-color: rgba(255, 255, 255, .7);
  }

  100% {
    width: 30px;
    height: 30px;
    -webkit-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
    border-color: transparent;
  }
}

@keyframes locate {
  0% {
    width: 0;
    height: 0;
  }

  10% {
    border-color: rgba(255, 255, 255, .3);
  }

  30% {
    border-color: rgba(255, 255, 255, .7);
  }

  100% {
    width: 30px;
    height: 30px;
    -webkit-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
    border-color: transparent;
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
  }

  100% {
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
  }

  100% {
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
}
@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}

@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
  src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}

@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Anonymous Pro Italic"), local(AnonymousPro-Italic), url("//fonts.gstatic.com/s/anonymouspro/v9/q0u6LFHwttnT_69euiDbWIGc2Drk6OF7xzEFRuu1poY.eot?#") format("eot"), url("//fonts.gstatic.com/s/anonymouspro/v9/q0u6LFHwttnT_69euiDbWEOc-qcyZDPXUzSso1bA9YE.woff") format("woff2"), url("//fonts.gstatic.com/s/anonymouspro/v9/q0u6LFHwttnT_69euiDbWEOc-qcyZDPXUzSso1bA9YE.woff") format("woff");
}

@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 700;
  src: local("Anonymous Pro Bold Italic"), local(AnonymousPro-BoldItalic), url("//fonts.gstatic.com/s/anonymouspro/v9/_fVr_XGln-cetWSUc-JpfONuiocNq7bs0SOFe77jKtE.eot?#") format("eot"), url("//fonts.gstatic.com/s/anonymouspro/v9/_fVr_XGln-cetWSUc-JpfGLkIvtLOz01sdqGPgcEBM8.woff") format("woff2"), url("//fonts.gstatic.com/s/anonymouspro/v9/_fVr_XGln-cetWSUc-JpfGLkIvtLOz01sdqGPgcEBM8.woff") format("woff");
}

@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Anonymous Pro"), local(AnonymousPro), url("//fonts.gstatic.com/s/anonymouspro/v9/Zhfjj_gat3waL4JSju74E3Xp_Gpx0-4m3wAn7HKLs74.eot?#") format("eot"), url("//fonts.gstatic.com/s/anonymouspro/v9/Zhfjj_gat3waL4JSju74E1tUcs43uvLUMv3hfHgzs3w.woff") format("woff2"), url("//fonts.gstatic.com/s/anonymouspro/v9/Zhfjj_gat3waL4JSju74E1tUcs43uvLUMv3hfHgzs3w.woff") format("woff");
}

@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Anonymous Pro Bold"), local(AnonymousPro-Bold), url("//fonts.gstatic.com/s/anonymouspro/v9/WDf5lZYgdmmKhO8E1AQud30lRvvQrNeWza1BnlT_HW4.eot?#") format("eot"), url("//fonts.gstatic.com/s/anonymouspro/v9/WDf5lZYgdmmKhO8E1AQudy_O50XgJwSsgBhwZ9pjuTs.woff") format("woff2"), url("//fonts.gstatic.com/s/anonymouspro/v9/WDf5lZYgdmmKhO8E1AQudy_O50XgJwSsgBhwZ9pjuTs.woff") format("woff");
}

@keyframes expand {
  0%, 80% {
    letter-spacing: -17px;
    opacity: 0;
  }

  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

@keyframes star {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    fill: #eef5db;
  }
}

@keyframes bounce-open {
  0%, 80% {
    opacity: 0;
    transform: translateX(150px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce-close {
  0%, 80% {
    opacity: 0;
    transform: translateX(-150px);
  }

  90% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow {
  0% {
    max-width: 100%;
    max-height: 100%;
    top: 0;
  }

  100% {
    max-width: 150%;
    max-height: 150%;
    top: -25%;
  }
}

@keyframes flip {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 1;
  }

  50%, 100% {
    z-index: 0;
  }

  0%, 75% {
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }

  100% {
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }
}

@keyframes flip--reverse {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 0;
  }

  50%, 100% {
    z-index: 1;
  }

  0%, 75% {
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }

  100% {
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }
}

@keyframes locate {
  0% {
    width: 0;
    height: 0;
  }

  10% {
    border-color: rgba(255, 255, 255, .3);
  }

  30% {
    border-color: rgba(255, 255, 255, .7);
  }

  100% {
    width: 30px;
    height: 30px;
    transform: translate(15px, 15px);
    border-color: transparent;
  }
}

@keyframes swing {
  0% {
    transform: rotate(70deg);
  }

  100% {
    transform: rotate(-70deg);
  }
}

:root {
  background: #eef5db url("../../src/img/paperbright_.5.jpg");
  background-size: cover;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}

@media screen and (max-width: 568px) {
  :root {
    background-size: 100vmax;
    background-repeat: no-repeat;
  }
}

a {
  color: #333745;
}

a::after {
  content: '»';
}

h1 {
  font-size: 6em;
  font-family: monospace;
  text-transform: lowercase;
}

body {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

header,
main {
  width: 85vw;
  height: 85vh;
  top: 50vh;
  left: 50vw;
  overflow: hidden;
  will-change: transform;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px dotted #eef5db;
  box-shadow: 0 0 0 4px #fe5f55;
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.26, 1.45) !important;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.26, 1.45) !important;
}

header {
  z-index: 1;
  position: relative;
  will-change: transform;
  border-radius: 50px 5px;
  background: #333745;
  -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
}

header svg g path,
header svg g .pathed,
header .locate {
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

header img {
  /* fallback from svg */
  width: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

header::before {
  background: url("../../src/img/paper_.5.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .45;
  content: "";
  z-index: -1;
  filter: url("data:image/svg+xml;charset=utf-8,<svg xmlns=http://www.w3.org/2000/svg><filter id=filter><feColorMatrix type=matrix color-interpolation-filters=sRGB values=1 0 0 0 0 0 1.01 0 0 0 0 0 1 0 0 0 0 0 1 0 /></filter></svg>#filter");
  -webkit-filter: saturate(0);
  filter: saturate(0);
  border-radius: 50px 5px;
}

header.clicked {
  -webkit-animation: 1s flip 1 forwards;
  animation: 1s flip 1 forwards;
}

header.clicked svg g path,
header.clicked svg g .pathed,
header.clicked .locate {
  fill: transparent !important;
  visibility: hidden;
}

header.clicked + main {
  -webkit-animation: 1s flip--reverse 1 forwards;
  animation: 1s flip--reverse 1 forwards;
}

header.reverse {
  -webkit-animation: 1s flip--reverse 1 forwards;
  animation: 1s flip--reverse 1 forwards;
}

header.reverse + main {
  -webkit-animation: 1s flip 1 forwards;
  animation: 1s flip 1 forwards;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  background: #fe5f55;
  border-radius: 5px 50px;
  border: 9vw double salmon;
  box-shadow: 0 0 4px 1px #333745;
  -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
}

header:not(.clicked) + main .locate {
  fill: transparent !important;
  visibility: hidden;
}

main .locate {
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

main div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #eef5db;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

main div p {
  max-width: 50%;
  margin: 0 auto 16px;
  margin: 0 auto 1rem;
}

main div p span {
  background: #eef5db;
  color: #fe5f55;
  box-sizing: border-box;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  margin: 4px 0;
}

main div p span.primary {
  font-weight: 600;
  box-shadow: inset 0 0 0 1px #eef5db, inset 0 0 0 2px #fe5f55;
}

main div p:last-child {
  cursor: default;
  font-weight: 600;
  font-size: 1.25em;
}

@media screen and (max-width: 568px) {
  main div p {
    max-width: 90%;
  }
}

aside {
  position: relative;
  top: 16vh;
  left: 0;
  right: 0;
  background: #fe5f55;
  color: #eef5db;
  box-shadow: 0 0 0 4px #333745;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

aside p {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

aside a,
aside time {
  color: #eef5db;
}

aside a::after,
aside time::after {
  content: '';
}

body > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16vh;
  overflow-x: hidden;
  min-height: 65vmin;
}

body > section > div {
  -ms-flex-preferred-size: 50vw;
  flex-basis: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body > section .experience ul {
  list-style: none;
  padding: 0;
  margin: 1em 1em 2em;
}

body > section .experience ul li {
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  -webkit-font-feature-settings: "c2sc";
  font-feature-settings: "c2sc";
  font-variant: small-caps;
}

body > section .experience h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}

body > section .experience h3 {
  margin: -0.25em 0 0.25em;
  text-transform: lowercase;
}

body > section .experience time {
  margin: 0 .75em 0 0;
  text-transform: uppercase;
}

body > section .experience span {
  margin: 0 .75em 0 0;
}

body > section .experience a {
  float: right;
  text-transform: lowercase;
}

.pendula {
  position: relative;
  z-index: -1;
  top: -1vmax;
}

.pendula div {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px #e63462,
            inset 0 0 1px 1px #e63462;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: swing 1s infinite ease-in-out alternate;
  animation: swing 1s infinite ease-in-out alternate;
}

.pendula div::after {
  content: '';
  border-radius: 50%;
  width: .4em;
  height: .4em;
  background: #e63462;
  display: block;
  position: relative;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pendula .pendulum-1 {
  width: 2em;
  height: 2em;
  top: 0vmax;
  left: calc(50% - 1em);
  -webkit-animation-duration: 1.01s;
  animation-duration: 1.01s;
}

.pendula .pendulum-2 {
  width: 4em;
  height: 4em;
  top: -1vmax;
  left: calc(50% - 2em);
  -webkit-animation-duration: 1.02s;
  animation-duration: 1.02s;
}

.pendula .pendulum-3 {
  width: 6em;
  height: 6em;
  top: -2vmax;
  left: calc(50% - 3em);
  -webkit-animation-duration: 1.03s;
  animation-duration: 1.03s;
}

.pendula .pendulum-4 {
  width: 8em;
  height: 8em;
  top: -3vmax;
  left: calc(50% - 4em);
  -webkit-animation-duration: 1.04s;
  animation-duration: 1.04s;
}

.pendula .pendulum-5 {
  width: 10em;
  height: 10em;
  top: -4vmax;
  left: calc(50% - 5em);
  -webkit-animation-duration: 1.05s;
  animation-duration: 1.05s;
}

.pendula .pendulum-6 {
  width: 12em;
  height: 12em;
  top: -5vmax;
  left: calc(50% - 6em);
  -webkit-animation-duration: 1.06s;
  animation-duration: 1.06s;
}

.pendula .pendulum-7 {
  width: 14em;
  height: 14em;
  top: -6vmax;
  left: calc(50% - 7em);
  -webkit-animation-duration: 1.07s;
  animation-duration: 1.07s;
}

.pendula .pendulum-8 {
  width: 16em;
  height: 16em;
  top: -7vmax;
  left: calc(50% - 8em);
  -webkit-animation-duration: 1.08s;
  animation-duration: 1.08s;
}

.pendula .pendulum-9 {
  width: 18em;
  height: 18em;
  top: -8vmax;
  left: calc(50% - 9em);
  -webkit-animation-duration: 1.09s;
  animation-duration: 1.09s;
}

.pendula .pendulum-10 {
  width: 20em;
  height: 20em;
  top: -9vmax;
  left: calc(50% - 10em);
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

@media screen and (max-width: 568px) {
  body > section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 14vh;
    overflow: visible;
  }

  body > section > div {
    -ms-flex-preferred-size: 40vw;
    flex-basis: 40vw;
  }

  .pendulum-8 {
    display: none;
  }

  .pendulum-9 {
    display: none;
  }

  .pendulum-10 {
    display: none;
  }
}

#logotype {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
  top: 0;
  position: relative;
  will-change: transform;
  -webkit-animation: 1.5s grow 1 forwards 3s cubic-bezier(0.68, -0.55, 0.26, 1.45);
  animation: 1.5s grow 1 forwards 3s cubic-bezier(0.68, -0.55, 0.26, 1.45);
}

#logotype .cls-1 {
  fill: #fe5f55;
  /* ∞ */
}

#logotype .cls-2 {
  fill: #eef5db;
  /* {  } */
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.26, 1.45);
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.26, 1.45);
}

#logotype .st0 {
  fill: none;
  /* text path */
}

#logotype #curly--open .cls-2 {
  -webkit-animation: 1s bounce-open 1 forwards 0.4s;
  animation: 1s bounce-open 1 forwards 0.4s;
}

#logotype #curly--close .cls-2 {
  -webkit-animation: 1s bounce-close 1 forwards 0.4s;
  animation: 1s bounce-close 1 forwards 0.4s;
}

#logotype .pathed {
  fill: #eef5db;
  /* pathed text */
  white-space: pre;
}

#logotype .pathed textpath {
  opacity: 0;
  letter-spacing: 1px;
  font-weight: 800;
  white-space: pre;
  word-spacing: normal;
  word-spacing: initial;
  text-transform: uppercase;
  -webkit-animation: 2s expand 1 forwards;
  animation: 2s expand 1 forwards;
  text-rendering: optimizeLegibility;
  -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.26, 1.45);
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.26, 1.45);
}

#logotype .pathed.textstar textpath {
  dominant-baseline: middle;
  font-weight: 400;
  -webkit-animation: .6s star 1 forwards;
  animation: .6s star 1 forwards;
}

#logotype .pathed.textstar textpath span {
  cursor: pointer;
}

#logotype .pathed.textleft textpath {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

#logotype .pathed.textright textpath {
  font-weight: 400;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
  text-rendering: geometricPrecision;
}

@media screen and (max-width: 710px) {
  #logotype {
    margin-top: 20vh;
  }

  aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  aside img {
    display: none;
  }

  aside p {
    letter-spacing: 1px;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  #logotype {
    -webkit-transform: rotate(-90deg) scale(1.2) translate(-12.5vh);
    transform: rotate(-90deg) scale(1.2) translate(-12.5vh);
  }
}

.locate {
  position: absolute;
  right: 10%;
  bottom: 15%;
  -webkit-animation: locate 2s infinite ease-out 5s;
  animation: locate 2s infinite ease-out 5s;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}
