@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}

@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
  src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 300;
  src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}

@font-face {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 700;
  src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(HelveticaNeue),local(Helvetica);
}

@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #fe5f55;
  text-shadow: none;
  color: #fff;
}

::selection {
  background: #fe5f55;
  text-shadow: none;
  color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
@-webkit-keyframes expand {
  0%, 80% {
    letter-spacing: -17px;
    opacity: 0;
  }

  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

@keyframes expand {
  0%, 80% {
    letter-spacing: -17px;
    opacity: 0;
  }

  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

@-webkit-keyframes star {
  0%, 80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes star {
  0%, 80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce-open {
  0%, 80% {
    opacity: 0;
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }

  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounce-open {
  0%, 80% {
    opacity: 0;
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }

  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes bounce-close {
  0%, 80% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }

  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounce-close {
  0%, 80% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }

  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes grow {
  0% {
    max-width: 100%;
    max-height: 100%;
    top: 0;
  }

  100% {
    max-width: 150%;
    max-height: 150%;
    top: -25%;
  }
}

@keyframes grow {
  0% {
    max-width: 100%;
    max-height: 100%;
    top: 0;
  }

  100% {
    max-width: 150%;
    max-height: 150%;
    top: -25%;
  }
}

@-webkit-keyframes flip {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 1;
  }

  50%, 100% {
    z-index: 0;
  }

  0%, 75% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }

  100% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }
}

@keyframes flip {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 1;
  }

  50%, 100% {
    z-index: 0;
  }

  0%, 75% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }

  100% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }
}

@-webkit-keyframes flip--reverse {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 0;
  }

  50%, 100% {
    z-index: 1;
  }

  0%, 75% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }
}

@keyframes flip--reverse {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 0;
  }

  50%, 100% {
    z-index: 1;
  }

  0%, 75% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }
}

@-webkit-keyframes locate {
  0% {
    width: 0;
    height: 0;
  }

  10% {
    border-color: rgba(255, 255, 255, .3);
  }

  30% {
    border-color: rgba(255, 255, 255, .7);
  }

  100% {
    width: 30px;
    height: 30px;
    -webkit-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
    border-color: transparent;
  }
}

@keyframes locate {
  0% {
    width: 0;
    height: 0;
  }

  10% {
    border-color: rgba(255, 255, 255, .3);
  }

  30% {
    border-color: rgba(255, 255, 255, .7);
  }

  100% {
    width: 30px;
    height: 30px;
    -webkit-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
    border-color: transparent;
  }
}
@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}

@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
  src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}

@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Anonymous Pro Italic"),local(AnonymousPro-Italic),url("//fonts.gstatic.com/s/anonymouspro/v8/q0u6LFHwttnT_69euiDbWIGc2Drk6OF7xzEFRuu1poY.eot?#") format("eot"),url("//fonts.gstatic.com/s/anonymouspro/v8/q0u6LFHwttnT_69euiDbWC6lQeGIz_eTiUIAmQEHoRI.woff2") format("woff2"),url("//fonts.gstatic.com/s/anonymouspro/v8/q0u6LFHwttnT_69euiDbWEOc-qcyZDPXUzSso1bA9YE.woff") format("woff");
}

@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 700;
  src: local("Anonymous Pro Bold Italic"),local(AnonymousPro-BoldItalic),url("//fonts.gstatic.com/s/anonymouspro/v8/_fVr_XGln-cetWSUc-JpfONuiocNq7bs0SOFe77jKtE.eot?#") format("eot"),url("//fonts.gstatic.com/s/anonymouspro/v8/_fVr_XGln-cetWSUc-JpfOE-UnHJJqgmO_01JZd6B-Y.woff2") format("woff2"),url("//fonts.gstatic.com/s/anonymouspro/v8/_fVr_XGln-cetWSUc-JpfGLkIvtLOz01sdqGPgcEBM8.woff") format("woff");
}

@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Anonymous Pro"),local(AnonymousPro),url("//fonts.gstatic.com/s/anonymouspro/v8/Zhfjj_gat3waL4JSju74E3Xp_Gpx0-4m3wAn7HKLs74.eot?#") format("eot"),url("//fonts.gstatic.com/s/anonymouspro/v8/Zhfjj_gat3waL4JSju74ExEOS6Aq7hJAAidQNR3rgdU.woff2") format("woff2"),url("//fonts.gstatic.com/s/anonymouspro/v8/Zhfjj_gat3waL4JSju74E1tUcs43uvLUMv3hfHgzs3w.woff") format("woff");
}

@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Anonymous Pro Bold"),local(AnonymousPro-Bold),url("//fonts.gstatic.com/s/anonymouspro/v8/WDf5lZYgdmmKhO8E1AQud30lRvvQrNeWza1BnlT_HW4.eot?#") format("eot"),url("//fonts.gstatic.com/s/anonymouspro/v8/WDf5lZYgdmmKhO8E1AQud8GfYvzQ_DwqEC2arHsRzXk.woff2") format("woff2"),url("//fonts.gstatic.com/s/anonymouspro/v8/WDf5lZYgdmmKhO8E1AQudy_O50XgJwSsgBhwZ9pjuTs.woff") format("woff");
}

@keyframes expand {
  0%, 80% {
    letter-spacing: -17px;
    opacity: 0;
  }

  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

@keyframes star {
  0%, 80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce-open {
  0%, 80% {
    opacity: 0;
    transform: translateX(150px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce-close {
  0%, 80% {
    opacity: 0;
    transform: translateX(-150px);
  }

  90% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow {
  0% {
    max-width: 100%;
    max-height: 100%;
    top: 0;
  }

  100% {
    max-width: 150%;
    max-height: 150%;
    top: -25%;
  }
}

@keyframes flip {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 1;
  }

  50%, 100% {
    z-index: 0;
  }

  0%, 75% {
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }

  100% {
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }
}

@keyframes flip--reverse {
  0%, 100% {
    width: 85vw;
    height: 85vh;
    top: 50vh;
    left: 50vw;
  }

  0%, 50% {
    z-index: 0;
  }

  50%, 100% {
    z-index: 1;
  }

  0%, 75% {
    transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  }

  100% {
    transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  }
}

@keyframes locate {
  0% {
    width: 0;
    height: 0;
  }

  10% {
    border-color: rgba(255, 255, 255, .3);
  }

  30% {
    border-color: rgba(255, 255, 255, .7);
  }

  100% {
    width: 30px;
    height: 30px;
    transform: translate(15px, 15px);
    border-color: transparent;
  }
}

:root {
  background: #eef5db url("/v2/src/img/paperbright_.5.jpg");
  background-size: cover;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  font-size: 16px;
}

a {
  color: #333745;
}

a::after {
  content: '»';
}

h1 {
  font-size: 6em;
  font-family: monospace;
  text-transform: lowercase;
}

body {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

header,
main {
  width: 85vw;
  height: 85vh;
  top: 50vh;
  left: 50vw;
  z-index: 0;
  overflow: hidden;
  will-change: transform;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px dotted #eef5db;
  box-shadow: 0 0 0 4px #fe5f55;
  -webkit-animation-timing-function: cubic-bezier(.68,-0.55,.26,1.45) !important;
  animation-timing-function: cubic-bezier(.68,-0.55,.26,1.45) !important;
}

header {
  z-index: 1;
  position: relative;
  will-change: transform;
  border-radius: 50px 5px;
  background: #333745;
  -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
  transform: translate(-42.5vw, -42.5vh) rotateY(0deg);
}

header svg g path,
header svg g .pathed,
header .locate {
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

header::before {
  background: url("/v2/src/img/paper_.5.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .45;
  content: "";
  z-index: -1;
  filter: url("data:image/svg+xml;charset=utf-8,<svg xmlns=http://www.w3.org/2000/svg><filter id=filter><feColorMatrix type=matrix color-interpolation-filters=sRGB values=1 0 0 0 0 0 1.01 0 0 0 0 0 1 0 0 0 0 0 1 0 /></filter></svg>#filter");
  -webkit-filter: saturate(0);
  filter: saturate(0);
  border-radius: 50px 5px;
}

header.clicked {
  -webkit-animation: 1s flip 1 forwards;
  animation: 1s flip 1 forwards;
}

header.clicked svg g path,
header.clicked svg g .pathed,
header.clicked .locate {
  fill: transparent !important;
  visibility: hidden;
}

header.clicked + main {
  -webkit-animation: 1s flip--reverse 1 forwards;
  animation: 1s flip--reverse 1 forwards;
}

header.reverse {
  -webkit-animation: 1s flip--reverse 1 forwards;
  animation: 1s flip--reverse 1 forwards;
}

header.reverse + main {
  -webkit-animation: 1s flip 1 forwards;
  animation: 1s flip 1 forwards;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  background: #fe5f55;
  border-radius: 50px 5px;
  border: 9vw double salmon;
  box-shadow: 0 0 4px 1px #333745;
  -webkit-transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
  transform: translate(-42.5vw, -42.5vh) rotateY(180deg);
}

main div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #eef5db;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

main div p {
  max-width: 50%;
  margin: 0 auto 16px;
  margin: 0 auto 1rem;
}

main div p span {
  background: #eef5db;
  color: #fe5f55;
  box-sizing: border-box;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  margin: 4px;
}

main div p span.primary {
  font-weight: 600;
  box-shadow: inset 0 0 0 1px #eef5db, inset 0 0 0 2px #fe5f55;
}

main div p::last-child {
  cursor: default;
  font-weight: 600;
  font-size: 1.25em;
}

@media screen and (max-width: 568px) {
  main div p {
    max-width: 90%;
  }
}

#logotype {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
  top: 0;
  position: relative;
  will-change: transform;
  -webkit-animation: 1.5s grow 1 forwards 3s cubic-bezier(.68,-0.55,.26,1.45);
  animation: 1.5s grow 1 forwards 3s cubic-bezier(.68,-0.55,.26,1.45);
}

#logotype .cls-1 {
  fill: #fe5f55;
  /* ∞ */
}

#logotype .cls-2 {
  fill: #eef5db;
  /* {  } */
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(.68,-0.55,.26,1.45);
  animation-timing-function: cubic-bezier(.68,-0.55,.26,1.45);
}

#logotype .st0 {
  fill: none;
  /* text path */
}

#logotype #curly--open .cls-2 {
  -webkit-animation: 1s bounce-open 1 forwards .4s;
  animation: 1s bounce-open 1 forwards .4s;
}

#logotype #curly--close .cls-2 {
  -webkit-animation: 1s bounce-close 1 forwards .4s;
  animation: 1s bounce-close 1 forwards .4s;
}

#logotype .pathed {
  fill: #eef5db;
}

/* pathed text */

#logotype .pathed textPath {
  opacity: 0;
  letter-spacing: 1px;
  font-weight: 800;
  white-space: pre;
  word-spacing: normal;
  word-spacing: initial;
  text-transform: uppercase;
  -webkit-animation: 2s expand 1 forwards;
  text-rendering: optimizeLegibility;
  -webkit-animation-timing-function: cubic-bezier(.68,-0.55,.26,1.45);
  animation-timing-function: cubic-bezier(.68,-0.55,.26,1.45);
}

#logotype .pathed.textstar textPath {
  dominant-baseline: middle;
  font-weight: 400;
  -webkit-animation: .6s star 1 forwards;
  animation: .6s star 1 forwards;
}

#logotype .pathed.textstar textPath span {
  cursor: pointer;
}

#logotype .pathed.textleft textPath {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

#logotype .pathed.textright textPath {
  font-weight: 400;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
  text-rendering: geometricPrecision;
}

@media screen and (max-width: 710px) {
  #logotype {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 568px) {
  #logotype {
    -webkit-transform: rotate(-90deg) scale(1.2) translate(-12.5vh);
    transform: rotate(-90deg) scale(1.2) translate(-12.5vh);
  }
}

.locate {
  position: absolute;
  right: 10%;
  bottom: 15%;
  -webkit-animation: locate 2s infinite ease-out 5s;
  animation: locate 2s infinite ease-out 5s;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}
