/* Testing autoprefixer */
 
.autoprefixer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
 
/* Testing cssnext */
 
.cssnext {
  background: rgba(255, 0, 0, 0.9);
}
 
/* Testing precss */
 
.precss {
  background: green
}

/* https://webdesign.tutsplus.com/series/postcss-deep-dive--cms-889 */
