!!! 5
%html{ lang: 'en' }
    %head
        %meta{ charset: 'utf-8' }
        %meta{ 'http-equiv' => 'x-ua-compatible', content: 'ie=edge' }
        %title Mattias Hagberg ∞ Frontend Developer
        %meta{ name: 'description',
        content: 'Resume of 27 year old frontend developer from Sweden' }
        %meta{ name: 'viewport',
        content: 'width=device-width, initial-scale=1' }
        %link{ rel: 'apple-touch-icon', sizes: '180x180',
        href: '/apple-touch-icon.png'}
        %link{ rel: 'icon', type: 'image/png', href: '/favicon-32x32.png',
        sizes: '32x32' }
        %link{ rel: 'icon', type: 'image/png', href: '/favicon-16x16.png',
        sizes: '16x16' }
        %link{ rel: 'manifest', href: '/manifest.json' }
        %link{ rel: 'mask-icon', href: '/safari-pinned-tab.svg',
        color: '#5bbad5' }
        %meta{ name: 'apple-mobile-web-app-title', content: 'mattias.pw' }
        %meta{ name: 'application-name', content: 'mattias.pw' }
        %meta{ name: 'theme-color', content: '#333745' }
        %link{ rel: 'stylesheet', href: 'bin/css/main.min.css' }
    %body

        %header

        %main

        %aside

        %section
            - @pendula = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            .pendula
                - @pendula.each do |i|
                    %div{ class: "pendulum-#{i}" }
            .experience

        %script{ src: 'bin/js/main.js' }
        :javascript
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-33644854-1','auto');ga('send','pageview')
        %script{ src: '//google-analytics.com/analytics.js', async: true,
        defer: true }
