@import "h5bp";
@import "normalize";

#logo {
    max-width: 616px;
    min-height: 100vh;
    margin: 0 auto;

    svg {
        overflow: visible;
    }
}

canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
}
