@import "h5bp";
@import "normalize";
@import "backgrounds";
@import "form";

html {
    font-size: 16px;
    font-family: 'Forum';
}

@media screen and (min-width: 768px) {
    html {
        font-size: calc(16px + 8 * ((100vw - 768px) / 768));
    }
}

@font-face {
    font-family: Forum;
    font-style: normal;
    font-weight: 400;
    src: local(Forum), url(//fonts.gstatic.com/s/forum/v7/ZqpICanVEXplF5Afx-0HCw.eot?#) format('eot'), url(//fonts.gstatic.com/s/forum/v7/eMDvaUkVr_spjjcEeqYI5A.woff2) format('woff2'), url(//fonts.gstatic.com/s/forum/v7/KsJrhVlKA7udJPNqNdl2fA.woff) format('woff');
}

@font-face {
    font-family: Megrim;
    font-style: normal;
    font-weight: 400;
    src: local(Megrim), url(//fonts.gstatic.com/s/megrim/v7/1f5HoozKyYXswla7UhCq0A.eot?#) format('eot'), url(//fonts.gstatic.com/s/megrim/v7/3QlnWQVA-dQyEeamqiHm2g.woff2) format('woff2'), url(//fonts.gstatic.com/s/megrim/v7/wEAANqPdhC-qap-OX73FcA.woff) format('woff');
}

h1,
h2 {
    font-family: 'Megrim';
}

#logo {
    max-width: 616px;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        max-width: 65vw;
        margin: -1em auto 0;
    }

    @media screen and (max-width: 768px) {
        align-items: flex-start;
    }

    svg {
        overflow: visible;
    }
}

canvas {
    width: 100vw;
    min-height: 768px;
    max-height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    box-shadow: 0 3px .5em #322;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 15em 20em;
    justify-content: center;
    align-content: space-around;
    position: relative;
    margin: 0;
    width: 100vw;

    @media screen and (max-width: 768px) {
        grid-template-columns: calc(40vw - 1em) calc(60vw - 1em);
    }
}

#profile {
    margin-top: -2.5em;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    svg {
        @media screen and (max-width: 768px) {
            height: 445px;
        }
    }
}

#skills {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;

    ul {
        order: 2;
        list-style: none;
        padding: 0;
        display: grid;
        align-content: space-around;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (max-width: 768px) {
            order: 0;
        }

        li {
            display: inline-block;
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: initial;
        grid-template-rows: 50% 50%;
        text-align: center;

        svg {
            width: 50%;
            align-self: center;
            justify-self: center;
        }
    }
}

#work {
    grid-column: 3 / 1;
}

#jobs,
#message {
    display: grid;
    grid-gap: .25em;
    grid-template-columns: 20% 80%;

    svg {
        order: -1;
    }
}

#jobs {
    grid-template-columns: 10% 90%;

    svg {
        height: 2em;
        width: 2em;
        margin-top: -.5em;
    }
}

.box {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .05);
    color: #333;
    padding: 1em;
    margin: 1em 0;
    overflow: hidden;
}

#friend {
    height: 62px;
    padding: 1em 0 .5em;
    margin: 1em 0 .5em;
    text-align: right;
    align-self: flex-end;

    svg {
        width: 64px;
    }
}
