&>div {
    width: 100%;
    height: 100%;
    div {
        position: absolute;
        border: 2px outset rgba(255,255,255,.4);
        border-radius: 50%;
        background: rgba(255,255,255,.1);
        @include background-image(radial-gradient(45% 45%, rgba(255,255,255,.1) 45%, rgba(255,255,255,.2) 80%));
        @include box-shadow(1px 1px 5px rgba(0,0,0,.2));
        @include topleft();
        @include animation(spin 12s infinite linear);
        &:nth-child(odd) {
            @include animation-direction(alternate-reverse);
        }

        // generate circles from left to right
        // i: counter
        // s: size
        // t: top margin
        // l: left margin
        // z: z-index
        // b: breaking point

        $i: 1; $s: 38; $t: -19; $l: -89.3; $z: 2;
        @while $i <= 11 {
            &:nth-child(#{$i}) {
                @include sqsize($s);
                margin-top: $t+vh;
                margin-left: $l+vh;
                z-index: $z;
            }
            $i: $i + 1;
            $z: $z + 1;
            $b: $i <= 6;
            $l: if($b, $l + 15, $l + 13);
            $s: if($b, $s - 2, $s + 2);
            $t: if($b, $t + 1, $t - 1);
        }
    }
}
