@import "susy";
$susy: (
  columns: 2,
  gutters: 1/4,
  gutter-position: inside,
  global-box-sizing: border-box
);

// CONSTANTS
@include establish-baseline();

// VARIABLES
$column-height: 15em;

body {
  margin: 0;
}
section {
  @include container();
}
.col {
  @include box-sizing(border-box);
  min-height: $column-height;
  margin-bottom: gutter()*2;
  .centered {
    float: none;
    display: table;
    margin: .5em auto .5em auto;
    text-align: center;
  }
  .left {
    @extend .centered;
    float: left;
    margin: .5em auto 1em 0;
    text-align: left;
  }
  .right {
    @extend .centered;
    float: right;
    margin: .5em 0 1em auto;
    text-align: right;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
    @media screen and (max-width: $bp-mobile) {
      &:not(.no-break) {
        text-align: left;
      }
    }
  }
}
.two {
  @include span(2 of 2);
}
.one {
  @include span(1 of 2);
  @media screen and (max-width: $bp-mobile) {
    &:not(.no-break) {
      width: 100%;
    }
  }
}
