@mixin color-animation($duration: 144s) {
    // not if mobile
    @include animation(background-animation $duration infinite);
    @include filter(grayscale(.7) hue-rotate(0deg));
}
@mixin topleft() {
    top: 45%;
    left: 50%;
}
@mixin sqsize($s: 28) {
    width: $s+vh;
    height: $s+vh;
}
@mixin bgimage() {
    background: url('../images/background.jpg');
}

$bp-phone: 598px;
$bp-tablet-min: 600px;
$bp-tablet-max: 1024px;

@mixin screen($media) {
    @if $media == phone {
        @media only screen and (max-width: $bp-phone) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) { @content; }
    }
    @else if $media == handheld {
        @media only screen and (max-width: $bp-tablet-max) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $bp-tablet-max) { @content; }
    }
}
