header>div, .nerdy, .intro .one {
    display: none;
    visibility: hidden;
}
header {
    overflow: visible;
    height: auto;
    h1 {
        position: static;
        font-size: 32pt;
    }
}
.col {
    &.one-half.text-right {
        text-align: left;
        margin-bottom: 0;
        &>p {
            margin-bottom: 0;
        }
        &>a {
            margin-top: 1em;
        }
    }
    &.one, &.one-half {
        width: 100%;
        padding: 0 5% 0 5%;
    }
    &.one-half {
        line-height: 1;
    }
    &.experience {
        margin-bottom: 0%;
    }
    &.one.skills {
        width: 50%;
    }
    &.intro {
        margin-bottom: 2%;
    }
}
h1, h2, h3 {
    font-family: "Noto Serif", Georgia;
    font-weight: 400;
}
h2 {
    font-size: 18pt;
    .intro & {
        font-size: 16pt;
        &:after, &:before {
            display: block;
            font-size: 14pt;
            margin-top: 1em;
            position: absolute;
            top: -.8em;
        }
        &:before {
            content: "+46 76-050 70 06";
            left: 0;
        }
        &:after {
            content: "hello@mattias.pw";
            right: 0;
        }
    }
    .experience &, .skills & {
        margin: 2% auto !important;
        border-bottom: 1px solid;
    }
    color: #000 !important;
    text-shadow: none !important;
    -webkit-text-fill-color: #000 !important;
    -webkit-background-clip: initial !important;
}
h3 {
    font-size: 18pt !important;
    .experience .one-half & {
        margin: 0;
    }
    .experience .one &, .skills & {
        font-size: 14pt !important;
        margin: 1em 0 0 !important;
    }
}
p, a {
    font-size: 12pt;
    color: #000 !important;
}
.skills ol {
    width: 120%;
    margin-left: -10%;
}
.social {
    * {
        display: none;
    }
    &:after {
        content: "hello@mattias.pw";
        display: block;
        font-size: 14pt;
        margin-top: -5em;
        margin-bottom: -5em;
        text-decoration: underline;
    }
}
.dark, .dark .two {
    margin-bottom: 0;
    padding-bottom: 0 !important;
}
