ul {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    position: relative;
    margin-right: .8em;
    @include transition(.5s all);
    &:hover {
      @include transform(rotateY(-360deg));
    }
    &:last-child {
      margin-right: 0;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 60px;
      background: url($path + 'tools-sprite.png');
    }
    a {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &:after {
        visibility: hidden;
      }
    }
  }
}
.css3:before {
  background-position: -50px 3px;
}
.html5:before {
  background-position: -100px 3px;
}
.sass:before {
  background-position: -150px 3px;
  width: 64px;
}
.susy:before {
  background-position: -220px 3px;
}
.compass:before {
  background-position: -279px 3px;
  width: 43px;
}
.github:before {
  background-position: -330px 3px;
}
.atom:before {
  background-position: -380px 3px;
}
.photoshop:before {
  background-position: -435px 3px;
}
