@import url(http://fonts.googleapis.com/css?family=Engagement|Noto+Serif:400,400italic|Noto+Sans);
@import "compass";
@import "h5bp";
@import "mixins";
@import "variables";
@import "animations";
@import "grid";

header:before, {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/background.jpg');
  background-size: cover;
  @include color-animation();
  z-index: -1;
}
header {
  height: 80vh;
  width: 100%;
  position: relative;
  canvas {
    opacity: .1;
    @include filter(grayscale(1) brightness(2));
    height: 80vh;
    width: 100%;
    z-index: -1;
  }
}
section {
  min-height: 50vh;
  font-family: 'Noto Serif';
}
section.bright {
  h2 {
    color: $headline-color;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
                url('../images/background.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    @include color-animation();
  }
  h3 {
    color: $headline-color;
  }
}
section.color {
  background: url('../images/background.jpg');
  background-size: cover;
  @include color-animation();
  h2, h3, p {
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
  }
}
section.dark {
  background: $text-color;
  h2, h3, p {
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
  }
}
h1, h2 {
  font-family: 'Engagement';
  font-weight: 600;
  line-height: 1;
}
h1 {
  position: absolute;
  bottom: -45px;
  cursor: default;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 10em;
  width: 100%;
  z-index: 0;
  @media screen and (max-width: $bp-mobile) {
    bottom: -23px;
    font-size: 5em;
  }
}
h2 {
  font-size: 8em;
  cursor: default;
  padding: .2em;
  @media screen and (max-width: $bp-mobile) {
    font-size: 5em;
    padding: .3em 0 .2em 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  li {
    font-size: 1.1em;
    @media screen and (max-width: $bp-mobile) {
      font-size: .9em;
    }
    font-family: 'Noto Sans';
    line-height: 1.6;
    display: block;
    cursor: default;
    @include transition(.4s all);
    span {
      display: inline-block;
      padding: .5em 1.5em 0;
      position: relative;
      .left &:after, .right &:before {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: 50%;
        width: 12px;
        height: 12px;
        margin: 0 0 0 0;
        border-radius: 50%;
        background: #fff url('../images/background.jpg');
        @include color-animation();
        @include transition(.2s all);
      }
      .left &:after {
        right: 0;
      }
      .right &:before {
        left: 0;
      }
    }
    &:hover span:after, &:hover span:before {
      border-radius: 32px;
      width: 100%;
      height: 32px;
      margin-top: -10px;
    }
    &:hover {
      color: #fff;
    }
  }
}
