@import url('//fonts.googleapis.com/css?family=Engagement|Noto+Serif:400,400italic|Noto+Sans');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import "compass";
@import "h5bp";
@import "mixins";
@import "variables";
@import "animations";
@import "grid";

header:before, {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url($path + 'background.jpg');
  background-size: cover;
  @include color-animation();
  z-index: -1;
}
header {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  @import "cogs";
}
section {
  font-family: 'Noto Serif';
}
section.bright {
  h2 {
    color: #f5f5f5;
    text-shadow: 1px 1px 2px rgba(0,0,0,.1);
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
                url('../images/background.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    @include color-animation();
  }
  h3, a {
    color: $headline-color;
  }
}
section.color {
  background: url('../images/background.jpg');
  background-size: cover;
  @include screen(phone) {
    background-repeat: repeat;
    background-size: 100% 100%;
  }
  @include color-animation();
  h2, h3, p, a {
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
  }
}
section.dark {
  background: $text-color;
  h2, h3, p, a, i {
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
  }
}
@import "typography";
@import "lists";
