@import url(http://fonts.googleapis.com/css?family=Engagement);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic);
@import "compass";
@import "h5bp";
@import "mixins";
@import "variables";
@import "animations";
@import "grid";

header:before, {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/background.jpg');
  background-size: cover;
  @include animation(background-animation 72s infinite);
  @include filter(hue-rotate(-90deg));
  z-index: -1;
}
header {
  height: 80vh;
  width: 100%;
  position: relative;
}
section {
  min-height: 100vh;
  width: 100%;
  font-family: 'Noto Serif';
}
section:nth-child(even) {
  h2 {
    color: $headline-color;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
                url('../images/background.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    @include animation(background-animation 72s infinite);
    @include filter(hue-rotate(-90deg));
  }
}
section:nth-child(odd) {
  background: url('../images/background.jpg');
  @include animation(background-animation 72s infinite);
  @include filter(hue-rotate(-90deg));
  min-height: 50vh;
  display: table;
  h2, h3, p {
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
  }
}
h1 {
  font-family: 'Engagement';
  position: absolute;
  bottom: -35px;
  cursor: default;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 8em;
  line-height: 1;
  width: 100%;
  z-index: -1;
  @media screen and (max-width: 768px) {
    bottom: -23px;
    font-size: 5em;
  }
}
h2 {
  font-family: 'Engagement';
  font-size: 10em;
  line-height: 1;
  cursor: default;
  padding: .2em;
  @media screen and (max-width: 768px) {
    font-size: 5em;
    padding: .3em 0 .2em 0;
  }
}
