/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { background: #f1f1f1; }
.inbox {
	width: 60em;
}

.features .inbox .flow {
	width: 49.2%;
	transition: .5s all;
	height: 0;
	position: relative;
	z-index: -1;
	margin-top: 30px;
	padding: 0 20px;
	overflow: hidden;
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 8.5%, rgba(204,204,204,1) 8.6%, rgba(204,204,204,0) 9%);
	background: -webkit-gradient(linear, left top, right top, color-stop(8.5%,rgba(0,0,0,0)), color-stop(8.6%,rgba(204,204,204,1)), color-stop(9%,rgba(204,204,204,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 8.5%,rgba(204,204,204,1) 8.6%,rgba(204,204,204,0) 9%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 8.5%,rgba(204,204,204,1) 8.6%,rgba(255,255,255,0) 9%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 8.5%,rgba(204,204,204,1) 8.6%,rgba(255,255,255,0) 9%);
	background: linear-gradient(to right, rgba(0,0,0,0) 8.5%,rgba(204,204,204,1) 8.6%,rgba(255,255,255,0) 9%);
}
.features .inbox .flow section:first-child {
	margin-left: 0;
	background: none;
	width: 50px;
	transform-origin: 50%;
}
.features .inbox .flow section {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 48%,rgba(204,204,204,1) 50%,rgba(255,255,255,0) 53%);
	height: 50px;
	width: 80px;
	margin: 0 auto 30px 24px;
	transition: .5s all;
	transform-origin: 0;
}
.features .inbox .flow section:last-child {
	margin-bottom: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 48%,rgba(204,204,204,1) 50%,rgba(241,241,241,1) 53%);
}
.features .inbox .flow section div {
	font: 400 1.1em 'Proxima Nova';
	color: #555;
	position: absolute;
	right: -270px;
	width: 250px;
}
.features .inbox .flow section:first-child div {
	text-transform: uppercase;
	margin: 5px -5px -5px auto;
}
.features .inbox .flow section:last-child div:last-child {
	top: 5px;
}
.features .inbox .flow section div span {
	color: #999;
	text-transform: none;
	font-size: .9em;
}
.features .inbox .flow section:first-child div span {
	display: block;
}
.features .inbox .flow section div p {
	margin: .1em 0;
	font-size: .9em;
}
.features .inbox .flow section:first-child img {
	left: 0;
}
.features .inbox .flow section img {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
