// PAGE LOADED INDICATOR
h6 {
  color: $base-white;
  background: $base-text;
  padding: .5em;
  position: fixed;
  bottom: 0;
  left: 10px;
}
.fake-content img {
  max-width: 100%;
  display: block;
}
