.nav-user ul {
  list-style: none;
  padding: 0;
}
.nav-user {
  position: absolute;
  top: 0;
  right: -1px;
  li, label, input {
    cursor: pointer;
  }
  @media screen and (max-width: $screen-mobile) {
    display: none;
    visibility: hidden;
  }
}

.dropdown {
  margin: 0 0;
  display: inline-block;
  & ~ & {
    margin: 0 0 0 -5px;
  }
  dt {
    margin: 0;
    padding: 0;
    a {
      background: $base-mgrey;
      display: inline-block;
      padding: 4px 50px 0 20px;
      height: 54px;
      margin-bottom: -6px;
      overflow: hidden;
      min-width: 15em;
      max-width: 25em;
      overflow-x: hidden;
      font-size: .9em;
      letter-spacing: .5px;
      @include font(thin);
      color: $base-white;
      cursor: pointer;
      position: relative;
      @include box-sizing(border-box);
      @include transition(0s all);
      &:hover {
        background: $base-dgrey;
      }
      &:before {
        content: '';
        display: inline-block;
        background: url(../img/nav/arrow_white.svg);
        width: 25px;
        height: 25px;
        position: absolute;
        top: 15px;
        margin-bottom: -20px;
        right: 1em;
      }
      p {
        margin: 1em 0;
      }
    }
  }
  &.ddactive dt a {
    background: $base-dgrey;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid $base-white;
      margin-top: -10px;
      top: 5px;
      bottom: -5px;
      margin-left: 5px;
      left: 50%;
      position: relative;
      z-index: 999;
    }
  }
  dd {
    margin: 0;
    padding: 0;
    position: relative;
    label {
      display: inline-block;
      width: 100%;
    }
    input {
      display: none;
    }
    ul {
      box-shadow: 0 0 5px darken($base-white,30%);
      margin: 0;
      z-index: 9;
      top: -1px;
      background: $base-white;
      color: $base-text;
      display: none;
      position: absolute;
      list-style: none;
      max-height: 20em;
      overflow: auto;
      h3 {
        color: $base-lgrey;
        @include font(normal);
        font-size: .95em;
        @include letter-spacing(1px);
        padding: 0 20px;
        margin: 17.5px 0 5px 0;
        cursor: default;
      }
    }
    .acctSelect li {
      box-shadow: 0 1px 0 darken($base-white,10%), 0 2px 0 darken($base-white,20%);
      padding: 10px 20px;
    }
    .userSelect {
      ul {
        padding-bottom: 1em;
        overflow: hidden;
      }
      li {
        padding: 5px 20px 5px 20px;
        &.logout {
          background: $base-dgrey;
          a {
            color: $base-white;
          }
          text-align: center;
          @include letter-spacing(1px);
          font-size: .9em;
          padding: 10px 0;
          margin: 1.1em 0 -1.2em 0;
          width: 100%;
          &:hover {
            background: lighten($base-dgrey,5%);
          }
        }
      }
    }
    li {
      width: 15em;
      a {
        @include transition(0s all);
      }
      &:hover {
        background: $base-green;
        color: $base-white;
        a {
          color: $base-white;
        }
        box-shadow: 0 1px 0 darken($base-white,10%), 0 2px 0 darken($base-white,5%);
        em {
          color: $base-white;
        }
      }
      em {
        display: block;
        color: $base-lgrey;
        @include font(thin);
        font-style: normal;
      }
    }
  }
}
