.sub {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -90px;
  @media screen and (max-width: $screen-mobile) {
    position: relative;
    bottom: 0;
    padding: 0 0 0 25%;
    background: $base-green;
  }
}
.nav-item>input:not(:checked) ~ .sub .nav-sub {
  opacity: 0;
}
nav, .nav-item>input:checked ~ .sub .nav-sub {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  visibility: visible;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  @media screen and (max-width: $screen-mobile) {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
nav {
  min-height: 264px;
  background: $base-white;
  @include transition(.2s all);
  .nav-mobile-userinfo {
    display: none;
    visibility: hidden;
    position: relative;
    height: 37%;
    bottom: 0;
    margin-top: 30%;
    z-index: 1;
    text-align: center;
    width: 100%;
    @include font(thin);
    letter-spacing: 1px;
    color: $base-white;
    @media screen and (max-width: $screen-mobile) {
      display: block;
      visibility: visible;
    }
  }
  .nav-mobile-button {
    display: none;
    visibility: hidden;
    list-style: none;
    background: $base-dgrey;
    padding: 25px 10px 0 12px;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    cursor: pointer;
  }
  @media screen and (max-width: $screen-mobile) {
    padding-top: .8em;
    .menu-open & {
      right: 0;
    }
    width: $nav-mob-width;
    position: fixed;
    top: 0;
    right: -$nav-mob-width*2;
    bottom: 0;
    height: 100vh;
    background: $base-dgrey;
    .nav-mobile-button {
      display: block;
      visibility: visible;
      li {
        background: $base-white;
        height: 2px;
        transition: .25s all;
        &:before {
          content: '';
          background: $base-white;
          height: 2px;
          position: relative;
          top: -5px;
          display: block;
          transform-origin: 50% 50%;
          transform: rotate(0deg) translate(0,0);
          transition: .5s all;
        }
        &:after {
          content: '';
          background: $base-white;
          height: 2px;
          position: relative;
          top: 3px;
          display: block;
          transform-origin: 50% 50%;
          transform: rotate(0deg) translate(0,0);
          transition: .5s all;
        }
        &.nav-mobile-active {
          background: transparent;
          &:before {
            transform: rotate(45deg) translate(4px, 4px);
          }
          &:after {
            transform: rotate(135deg) translate(-3px, 3px);
          }
        }
      }
    }
  }
}
html {
  @media screen and (max-width: $screen-mobile) {
    @include transition(.2s all);
    left: 0;
    position: relative;
  }
  &.menu-open {
    //when menu is open, move content to the left
    left: -$nav-mob-width;
    overflow: hidden;
  }
}
.nav-sub {
  list-style: none;
  padding: 0;
  position: static;
  top: -3em;
  left: 2em;
  right: 2em;
  width: 100%;
  height: 4em;
  @media screen and (max-width: $screen-mobile) {
    height: auto;
    top: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: $screen-mobile) {
  .nav-item>input:checked ~ .sub {
    top: -1.5em;
    margin-bottom: -1em;
    .nav-sub {
      padding-bottom: 1em;
      a {
        color: $base-white;
        @include font(thin);
      }
    }
  }
  .nav-item:first-of-type {
    margin-top: 2.7em;
  }
}
.nav-item, .nav-sub-item {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  @media screen and (max-width: $screen-mobile) {
    width: 100%;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
/******************** import svg and img formats and styling */
@import "nav-svg";
/********************/

.nav-item label {
  user-select: none;
  display: block;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-align: center;
  @include letter-spacing(1px);
  line-height: 3;
  @include font(semi);
  color: $base-text;
  background: $base-bgrey;
  height: 200px;
  border: 1px solid transparent;
  @include box-sizing(border-box);
  @include transition(.2s all);
  @media screen and (max-width: $screen-mobile) {
    height: 50px;
    color: $base-white;
    background: $base-dgrey;
    padding-left: 25%;
    text-align: left;
  }
}
.nav-sub-item {
  a {
    @include letter-spacing(1px);
    font-size: .9em;
    @include font(semi);
    padding: .5em .5em .5em 0;
  }
}
.navactive {
  width: 200px;
  a {
    left: 0;
  }
  @media screen and (max-width: $screen-mobile) {
    width: auto;
    a {
      border-bottom: 2px solid white;
      padding-bottom: 0;
    }
  }
}
.magic-line {
  background: $base-green;
  height: 2px;
  position: absolute;
  left: 16px;
  top: 24px;
  width: 100px;
}
.nav-sub {
  visibility: hidden;
  @media screen and (max-width: $screen-mobile) {
    display: none;
  }
}
.nav-item>input { display: none; visibility: hidden; }
