$container-max-width: 1440px;

$base-green: #84b644;
$base-text: #323232;
$base-white: #fcfcfc;
$base-bgrey: #eaeaea;
$base-lgrey: #919191;
$base-mgrey: #616161;
$base-dgrey: #212121;

@mixin letter-spacing($value) {
  text-transform: uppercase;
  letter-spacing: $value;
}
$weight: 400;
$font-thin: 'proxima_nova_th';
$font-normal: 'proxima_nova_rg';
$font-semi: 'proxima_nova_sb';

@mixin font($val: normal) {
  @if $val == "thin" {
    font-family: $font-thin;
  }
  @else if $val == "normal" {
    font-family: $font-normal;
  }
  @else if $val == "semi" {
    font-family: $font-semi;
  }
  font-weight: $weight;
}

$screen-tablet: 1024px;
//width of tablet screen media queries
$screen-mobile: 768px;
//width of mobile screen media queries
$nav-mob-width: 90%;
//width of mobile navigation (off-canvas)
