---
layout: blank
title: "Pendulum"
category: Projects
permalink: projects/pendulum
tags: [css,sass,project,physics,javascript]
jquery: no
custom_css: pendulum
custom_js:
- pendulum
---

%div.lamp
%div.gonna-give-light

- @pendula = [1,  2,  3,  4,  5, 6,  7,  8,  9,  10]
%section.pendula
  - @pendula.each do |i|
    %div{:class=>"pendulum-#{i}"}
