/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 16, ../sass/main.scss */
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.1)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 5%);
  -moz-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  -webkit-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top;
  margin: 0;
  font-family: 'Proxima Nova';
}

/* line 21, ../sass/main.scss */
.container {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  min-width: 52.5em;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 0 0 #ccc, -1px 0 0 #ccc;
  padding: 95px 0;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 26, ../sass/main.scss */
.col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 15em;
  margin-bottom: 1.66667%;
  box-shadow: 0 0 1px #bbb;
}
/* line 31, ../sass/main.scss */
.col .col {
  margin-top: .5em;
  height: 13.68em;
  padding: 0 1.66667%;
  position: relative;
  box-shadow: 0 0 1px #ccc;
}
/* line 37, ../sass/main.scss */
.col .col .bottom {
  position: absolute;
  bottom: 0;
  width: 93.33333%;
}
/* line 42, ../sass/main.scss */
.col .col .middle {
  position: absolute;
  top: 50%;
  margin-top: -2.15em;
  width: 99%;
  margin-left: -1%;
}
/* line 49, ../sass/main.scss */
.col .col .top {
  position: absolute;
  top: 0;
  width: 93.33333%;
}
/* line 55, ../sass/main.scss */
.col .centered, .col .right {
  float: none;
  display: table;
  margin: .5em auto 0 auto;
  text-align: center;
}
/* line 61, ../sass/main.scss */
.col .right {
  margin: 0.5em 0.83333% 0 auto;
  text-align: right;
}

/* line 67, ../sass/main.scss */
.four {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 70, ../sass/main.scss */
.three {
  width: 73.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 73, ../sass/main.scss */
.two {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* line 76, ../sass/main.scss */
.one {
  width: 23.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
