@import "variables.css";
@import "animations.css";

:root {
    background: $color--secondary;
    margin: 0;
    font-family: "Anonymous Pro";
}

h1 {
    font-family: "Monoton";
}

header {
    background: $color--base;
}

#logotype {
    max-width: 25vw;

    .cls-1 {
        fill: $color--primary;
        animation: pulse 9s linear infinite;
        transform-origin: 50% 50%;
    }
    .cls-2 {
        fill: $color--tertiary;
    }
    .cls-3 {
        fill: $color--bright_text;
    }
    .cls-4 {
        fill: $color--dark_text;
    }
}
