@import "variables.css";

body {
    background: $color--secondary;
    margin: 0;
}

header {
    background: $color--base;
    width: 25vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    #logotype {
        max-width: 25vw;
        position: absolute;
        top: -9vh;

        .cls-1 {
            fill: $color--primary;
        }
        .cls-2 {
            fill: $color--tertiary;
        }
        .cls-3 {
            fill: $color--bright_text;
        }
        .cls-4 {
            fill: $color--dark_text;
        }
    }
}
