@import "variables.css";
@import "animations.css";

:root {
    background: $color--secondary;
    margin: 0;
    font-family: "Anonymous Pro";
}

h1 {
    font-family: "Monoton";
    text-transform: lowercase;
    font-size: 6em; // fix <--
}

header {
    background: $color--base;
}

#logotype {
    max-width: 25vw;

    .cls-1 {
        fill: $color--primary;
    }
    .cls-2 {
        fill: $color--tertiary;
    }
    .cls-3 {
        fill: $color--bright_text;
    }
    .cls-4 {
        fill: $color--dark_text;
    }

    &:hover {
        .cls-1 {
            animation: pulse 2s infinite cubic-bezier(.68,-0.55,.26,1.55);
            transform-origin: 50% 50%;
        }
    }
}
