$color--base: #333745;
$color--primary: #fe5f55;
$color--secondary: #eef5db;
$color--tertiary: #e63462;
$color--bright_text: $color--secondary;
$color--dark_text: $color--base;

/* PENDULUM */

$penduli-radius: 32px;
$penduli-max-length: 512;

$swing-magnitude: 13deg;
