---
layout: default
---

<!-- Article -->
<article>

	<!-- Article title -->
	<h1 class="h1 no-hover">{{ page.title }}</h1>
	<div class="post-category">
		<a href="/projects/category/#{{ page.category | slugify }}">
			{{ page.category | capitalize }}
		</a>
	</div>

	<!-- Article date -->
	<span class="article__date">
		{{ page.date | date_to_long_string | upcase }}
	</span>

	<!-- Article description -->
	<section>{{ page.content }}</section>
	{% if page.category == "Pens" %}
	<section>
		<p>{{ page.description }}</p>
	</section>
	{% endif %}

	<div class="tags">
		Tags:
    		{% for tag in page.tags %}
    			<a href="/projects/tag/#{{ tag | slugify }}">{{ tag }}</a>
    		{% endfor %}
	</div>
</article><!-- article -->

<!-- If addthisId declared -->
{% if site.addthisId != "" %}

	<!-- Addthis -->
	<div class="addthis_sharing_toolbox mt"></div>
	<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "" %}

	<!-- Full width -->
	<div class="full">

		<!-- Disqus -->
		<div id="disqus_thread" class="mt mb"></div>
		<script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

	</div><!-- .full -->

{% endif %}
