---
layout: default
---

<!-- Article -->
<article{% if site.addthisId == "" && site.disqusUsername == "" %} class="noBorder"{% endif %}>

	<!-- Article title -->
	<h1>{{ page.title }}</h1>

	<!-- Article date -->
	<span class="article__date">
		{{ page.date | date: "%Y" }}
		{{ page.date | date_to_long_string | upcase }}
	</span>

	<!-- Article description -->
	<section>{{ page.content }}</section>

</article><!-- article -->

<!-- If addthisId declared -->
{% if site.addthisId != "" %}

	<!-- Addthis -->
	<div class="addthis_sharing_toolbox mt"></div>
	<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "" %}

	<!-- Full width -->
	<div class="full">

		<!-- Disqus -->
		<div id="disqus_thread" class="mt mb"></div>
		<script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

	</div><!-- .full -->

{% endif %}
