---
layout: htmlCompressor
---
<!doctype html>
<html lang="{{ site.lang }}" itemscope itemtype="http://schema.org/WebPage">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="revisit-after" content="1 days">
		<meta name="robots" content="index, follow">
		<meta name="author" content="{{ site.author }}">
		<title>{% if page.title %}{{ page.title }} - {{ site.name }}{% elsif site.name %}{{ site.name }}{% endif %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
		{% if page.custom_css %}
			{% for stylesheet in page.custom_css %}
				<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/projects/{{ stylesheet }}.css" media="screen" type="text/css">
			{% endfor %}
		{% endif %}
	</head>
	<body>

		{{ content }}

		{% if page.jquery == "yes" %}
			<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
		{% endif %}
		<script>
		window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
		ga('create','{{ site.googleAnalyticsId }}','auto');ga('send','pageview')
		</script>
		<script src="https://www.google-analytics.com/analytics.js" async defer></script>
		<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
		{% if page.custom_js %}
			{% for js_file in page.custom_js %}
				<script src='{{ site.baseurl }}/assets/js/projects/{{ js_file }}.js' type="text/javascript"></script>
			{% endfor %}
		{% endif %}
	</body>
</html>
